* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'verdana', sans-serif;
}

body {
    background-color: #d2d2d2;
}

.input_box {
    width: 80%;
    margin-left: 95px;
    margin-bottom: 42px;
}

label {
    font-size: 30px;
    font-weight: 600;
    border: 2px dashed #e9e6e5;
    border-radius: 30px;
}

.container {
    width: 580px;
    background-color:tomato;
    padding: 90px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 25px rgba(220, 146, 70, 0.56);
    border-radius: 8px;
    font-size: 18px;
    left: 68%;
    top: 50%;
}

input {
    width: 80%;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 9px;
    padding: 0 20px;
}

input:focus {
    border: 5px dashed #d2d2d2;
    background-color: #d2d2d2;
}